
<table>
  <tr>
     <th> <h2>Name</h2> </th>
     <th> <h2>Quantity</h2> </th>
     <th> <h2>Price</h2> </th>
  </tr>
  <tr>
  	<td> <%= @product.name %> </td>
  	<td> <%= @product.quantity%> </td>
  	<td> <%= @product.price %> </td>
  </tr>